.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.inputError {
  background-color: var(--red_filter);
}
.red {
  color: var(--warning_color);
}
