.excercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #333232;
}

/* <div className='excercise-item__name'>Pull ups</div>
        <div className='excercise-item__date'>09.06.2022</div>
        <div className='excercise-item__data'>5 | 4 | 4 | 3 | 2</div>
        <div className='excercise-item__moreinfo'>More info</div> */
.excercise-item__name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.excercise-item__moreinfo {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

.excercise-item__date {
  text-align: center;
  border: 1px solid #90caf9;
  border-radius: 12px;
  margin-inline: 15px;
}

@media (min-width: 580px) {
  .excercise-item__name {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .excercise-item__date {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}