/* body{
    background: #bdc3c7; 
    background-image: linear-gradient(to top right, #2c3e50, #bdc3c7); 
    background-repeat: no-repeat;
  background-attachment: fixed;
} */

.main {
  height: 100vh;
  padding: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px 0 0 0;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17), 0 6px 20px 0 rgba(0, 0, 0, 0.12); */
}

.form__input {
  margin: 5px;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer button {
  color: #fff;
  background-color: #113557;
}

.footer button:hover {
  background-color: #1b5183;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
