:root {
	--white: #fff;
	--gray: #5f6d69;
	--dots: #849490;
	--text-foot: #e4e7e6;
	--text: #f1f3f3;
}

.carousel {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	list-style: none;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
	white-space: nowrap;
	transition: transform 0.3s;
}
.carousel-navigation {
	box-sizing: border-box;
	color: none;
	background-color: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.indicators {
	display: flex;
	justify-content: center;
}

.indicators > button {
	margin: 5px;
	height: 16px;
	width: 10px;
	background-color: var(--white);
	border: 2px solid var(--dots);
	border-radius: 50%;
	cursor: pointer;
}

.indicators > button.active {
	background-color: #849490;
	color: #fff;
}

/* .carousel-img {
	height: 200px;
	border-radius: 8px;
	transform: scale(1.5);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

/* CONTROLS */
.arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 20px;
	cursor: pointer;
}
