/* Do poprawienia zamiana 
np. 
className="jaksklasa" na className={styles.jakasklasa}
w pliku userLogin.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px 0 0 0;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #113557;
  border: 1px solid #1a538b;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #1b5183;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 2rem;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.input__Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  align-items: center;
}
