.container {
  display: flex;
  justify-content: center;
}
.login {
  flex-direction: column;
  width: 90%;
  max-width: 611px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.login_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.login_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.login_footer {
  display: flex;
  width: 90%;
}
.footer_registerLink {
  color: var(--href);
  margin: 0 5px;
}
.invalid {
  border-color: var(--warning_color);
  border-width: 0.5px;
  border-style: solid;
}
.warning {
  color: var(--warning_color);
  font-size: 12px;
}
