.brick {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 5px 10px 5px;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 0.5rem;
}

.brick-label {
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}

.brick-input {
  text-align: center;
  align-items: center;
}
